body {
  /* Ajout Nunito */
  font-family: 'Nunito', sans-serif; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: #333;
  position: relative;
  overflow: hidden;
}

/* dimension et positionnement du bloc conteneur de l'image */
#arriere {
	position: absolute;
    z-index: -1;
}
/* l'image occupe toute la place de son bloc conteneur */
#arriere img {
	width : 100vw;
	height: 100vh;
  object-fit: fill;
}

.profile-container {
  max-width: 600px;
  margin: 25vh;
  background-color: #ddd8d87a;
  /* Bordures arrondies */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image-container {
  margin-bottom: 20px;
  text-align: center;
}

#preview-image {
  /* Taille img preview */
  width: 100px;
  height: 100px;
  /* Img ronde */
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.profile-details {
  margin-bottom: 20px;
}

.profile-details label {
  font-weight: bold;
  color: #555;
}

.profile-details input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

nav{
  padding: 20px;
  margin: auto;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  color: rgb(0, 0, 0);
  
}

a{
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 100px;
  text-align: center;
  line-height: 3;
  color: black;
  background-color: yellow;
}